{namespace search=Tx_PxaSolr_ViewHelpers}
<f:if condition="{result}">
	<div class="mocsearch-discussion">
		<div class="mocsearch-discussion-title"><h3><f:link.action pageUid="{settings.discussionSinglePid}" action="show" controller="Discussion" extensionName="MocForum" pluginName="MocForum" arguments="{discussion:'{result.uid}'}"><search:highlight highlight="{searchWord}" subject="{result.title}" /></f:link.action></h3></div>
		<div class="mocsearch-discussion-views">{result.views} views</div>
		<div class="mocsearch-discussion-date">{result.crdate}</div>
		<div class="clearer"></div>
	</div>
</f:if>
