{namespace search=Tx_PxaSolr_ViewHelpers}
<f:if condition="{result}">
	<div class="result {f:if(condition: result.image, then: 'hasImage')} {searchTag}">
		<div class="image">
			<f:if condition="{result.image}">
				<f:link.page pageUid="{settings.feuserSinglePid}" additionalParams="{tx_tcmembers_pi: {item: '{result.uid}', code: '{result.code}'}}"><f:image src="uploads/pics/{result.image}" alt="" width="120" height="120c" /></f:link.page>
			</f:if>
		</div>
		<div class="resulttext">
			<h3><f:link.page pageUid="{settings.feuserSinglePid}" additionalParams="{tx_tcmembers_pi: {item: '{result.uid}', code: '{result.code}'}}"><search:highlight highlight="{searchWord}" subject="{result.name}" /></f:link.page></h3>
			<p><br />
			<f:if condition="{result.email}">
				<f:link.email email="{result.email}"><search:highlight highlight="{searchWord}" subject="{result.email}" /></f:link.email>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
			</f:if>
			<f:link.page pageUid="{settings.feuserSinglePid}" additionalParams="{tx_tcmembers_pi: {item: '{result.uid}', code: '{result.code}'}}">Go to profile page &gt;&gt;</f:link.page>
			</p>
			
			
		</div>
		<div class="result-sidebar">
			
		</div>
	</div>
	<div style="clear: both;"></div>
</f:if>
