{namespace search=Tx_PxaSolr_ViewHelpers}
<f:if condition="{result}">
	<div class="result">
		<div class="resulttext">
			<div class="headerrow_res"><f:link.external uri="{result.url}" target="_top"><search:highlight highlight="{}" subject="{result.title}" /></f:link.external></div>
			<p class="description"><search:highlight highlight="{searchWord}" subject="{result.teaser}" />...<br /></p>
		</div>
	</div>
  <div style="clear: both;"></div>
	
</f:if>
