{namespace search=Tx_PxaSolr_ViewHelpers}

<f:if condition="{result}">
	<div class="result {f:if(condition: result.image, then: 'hasImage')} {searchTag}">
		<div class="pxasolr-image">
		<f:if condition="{result.image}">
			<f:link.page pageUid="{result.uid}"><f:image width="{settings.imageWidth}" height="{settings.imageHeight}" src="{result.image}" alt="{result.title}" /></f:link.page>
		</f:if>
		</div>
		<div class="resulttext">
			<h3><f:link.page pageUid="{result.uid}"><search:highlight highlight="{}" subject="{result.title}" /></f:link.page></h3>
			<p class="description"><search:highlight highlight="{searchWord}" subject="{result.teaser}" />...<br /><f:link.page pageUid="{result.uid}"><b><f:translate key="read_more">Read more...</f:translate></b></f:link.page></p>
		</div>
		<div class="result-sidebar">
			<p><f:format.date format="{settings.formats.date}">{result.changed}</f:format.date></p>
		</div>
	</div>
	<div style="clear: both;"></div>
</f:if>
