{namespace search=Tx_PxaSolr_ViewHelpers}
<f:if condition="{result}">
	<div class="result {f:if(condition: result.image, then: 'hasImage')} {searchTag}">
		<div class="pxasolr-image">
			<f:if condition="{result.image}">
				<f:link.page pageUid="{settings.newsSinglePid}" additionalParams="{tx_ttnews: {tt_news: '{result.uid}'}}"><f:image width="{settings.imageWidth}" height="{settings.imageHeight}" src="{result.image}" alt="{result.title}" /></f:link.page>
			</f:if>
		</div>
		<div class="resulttext">
			<h3><f:link.page pageUid="{settings.newsSinglePid}" additionalParams="{tx_ttnews: {tt_news: '{result.uid}'}}"><search:highlight highlight="{searchWord}" subject="{result.title}" /></f:link.page></h3>
			<p><search:highlight highlight="{searchWord}" subject="{result.implodedCategories}" /></p>
			<p class="description"><search:highlight highlight="{searchWord}" subject="{result.abstract}" /></p>
		</div>
		<div class="result-sidebar">
			<p><f:format.date format="d-m-Y">{result.date}</f:format.date></p>
		</div>
	</div>
	<div style="clear: both;"></div>
</f:if>
