{namespace search=Tx_PxaSolr_ViewHelpers}

<f:if condition="{result}">
	<div class="media">
		<f:if condition="{result.image}">
        	<f:link.page pageUid="{settings.newsSinglePid}" additionalParams="{tx_news_pi1: {controller: 'News', action: 'detail', news: '{result.uid}'}}" ><f:image width="{settings.imageWidth}" height="{settings.imageHeight}" src="{result.image}" alt="{result.title}" /></f:link.page>
        </f:if>
        <div class="media-body">
            <h4 class="media-heading"><f:link.page pageUid="{settings.newsSinglePid}" additionalParams="{tx_news_pi1: {controller: 'News', action: 'detail', news: '{result.uid}'}}" ><search:highlight highlight="{}" subject="{result.title}" /></f:link.page></h4>
            {result.date}
            <time class="meta-bar meta-date hidden-phone" datetime="{result.created}"><span><f:format.date format="d">{result.created}</f:format.date></span><strong><f:format.date format="M">{result.created}</f:format.date></strong></time>
            <p class="description"><search:highlight highlight="{searchWord}" subject="{result.implodedCategories}" /><br /><search:highlight highlight="{searchWord}" subject="{result.abstract}" />...</p>
            <f:link.page pageUid="{settings.newsSinglePid}" additionalParams="{tx_news_pi1: {controller: 'News', action: 'detail', news: '{result.uid}'}}" class="link" title="" ><f:translate key="read_more">Read more...</f:translate></f:link.page>
        </div>
    </div>
    <hr />
</f:if>
