{namespace search=Tx_PxaSolr_ViewHelpers}
<f:if condition="{result}">
	<div class="result {f:if(condition: result.image, then: 'hasImage')} {searchTag}">
		<div class="resulttext">
    
      <h3><f:link.external uri="{result.site}/{result.fileRelativePath}" target="_blank"><search:highlight highlight="{searchWord}" subject="{result.title}" /></f:link.external></h3>
			<p class="description"><search:highlight highlight="{searchWord}" subject="{result.fileReferenceTitle}" /></p>
		</div>
		<div class="result-sidebar">
			<p><f:format.date format="{settings.formats.date}">{result.created}</f:format.date></p>
		</div>
	</div>
	<div style="clear: both;"></div>
</f:if>
