<f:form actionUri="{formUrl}" class="{settings.quicksearch.form.class} {f:if(condition: settings.suggestResults.enable, then : ' pxasolr_typeahead_form', else: '')}">
<f:render partial="Quicksearch/Inputs" arguments="{settings: settings, results: searchResults, searchTag: searchTag, searchWord: searchWord}" />
</f:form>

<script type="text/javascript">
var suggest_url = '{suggestUrl}';
suggest_url = suggest_url.replace(/\&amp;/g,'&');
</script>