{namespace search=Tx_PxaSolr_ViewHelpers}
<h1><f:translate key="pages">Pages</f:translate></h1>
<f:if condition="{results -> f:count()} > 0">
 <f:then>
    <f:for each="{results}" as="result">
	<f:if condition="{result}">
	<f:link.page pageUid="{result.uid}" class="suggest-result-link">
	<div class="result {f:if(condition: result.image, then: 'hasImage')} {searchTag}">
		<div class="pxasolr-image">
		<f:if condition="{result.image}">
			<f:image width="{settings.imageWidth}" height="{settings.imageHeight}" src="{result.image}" alt="{result.title}" />
		</f:if>
		</div>
		<div class="resulttext">
			<h3><search:highlight highlight="{}" subject="{result.title}" /></h3>
			<p class="description"><f:format.crop maxCharacters="100" append="..."><search:highlight highlight="{searchWord}" subject="{result.teaser}" /></f:format.crop></p>
		</div>
	</div>
	<div style="clear: both;"></div>
	</f:link.page>
	
	</f:if>

	</f:for>
</f:then>
 <f:else>
 	<f:translate key="noSuggetResult">No results were found</f:translate>
 </f:else>
 
</f:if>
